body { 
  background-color: blue; 
}
.myContainer{
	margin-top: 40px;
}
#search{
	margin-top: 20px;
}
article {
	float:right;
}
article #status {
	color: white;
	font-size: 20px;
}
.myContainer #row h1{
	text-align: center;
}
#row{
	margin-top: 20px;
}
#mapcanvas {
	width: 100%;
	height: 500px;
	border-radius: 5px;
}
.myContainer
{
	margin: 0px 40px;
}
.myCard
{
	margin-bottom: 5px;
	height: 150px;
}
.card-text{
	float:left;
}
#panel_button{
	float: right;
}
button{
	background: rgb(238, 238, 255);
	border: 1px solid black;
}
.card-body{
	background: rgb(238, 238, 255);
}
button #butt1{
	width: 100px;
	border: none;
}
.icon{
	height: 100px;
	width: 100px;
	float: left;
}
#wt{
	color:green;
}
#nwt{
	color:red;
}